body {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    height: 60px;
    background-color: rgb(53, 243, 180);
}

.content {
    position: relative;
}

.menu-btn {
    border: 2px solid white;
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.menu-btn svg {
    height: 40px;
    color: white;
}

.menu-container {
    position: absolute;
    visibility: hidden;
    padding: 10px 20px;
    margin: 5px;
    background-color: rgb(53, 243, 180);
    border-radius: 10px;
}

.menu-ul {
    list-style: none;
    padding: 0;
}

.menu-item {
    margin: 20px;
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
}

.menu-item:hover {
    text-decoration: underline;
}
