:root {
    --main-aqua-blue: rgb(53, 243, 180);
}

body {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    height: 60px;
    background-color: var(--main-aqua-blue);
}

.content {
    position: relative;
}

.menu-btn {
    border: 2px solid white;
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.menu-btn svg {
    height: 40px;
    color: white;
}

.menu-container {
    position: absolute;
    visibility: hidden;
    padding: 10px 20px;
    margin: 5px;
    background-color: var(--main-aqua-blue);
    border-radius: 10px;
}

.menu-ul {
    list-style: none;
    padding: 0;
}

.menu-item {
    margin: 20px;
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
}

.menu-item:hover {
    text-decoration: underline;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.left-arrow,
.right-arrow {
    height: 50px;
    width: 50px;
    color: var(--main-aqua-blue);
}

.carousel-container img {
    display: none;
    height: 200px;
    width: 200px;
    padding: 0px 40px 0px 40px;
}

.dots {
    display: flex;
    justify-content: center;
}

.dot {
    color: grey;
    margin: 0px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.dot svg {
    color: var(--main-aqua-blue);
    height: 30px;
    width: 30px;
}
